* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #000000de;
    position: fixed;
    width: 100%;
    height: 60px;
    margin-bottom: 40px;
    top: 0;
    left: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 5px;
}

nav li:not(.logo) {
    border-style: groove;
    border-color: #e5dcee;
    border-radius: 16px;
    font-size: 15px;
}

nav li a {
    text-decoration: none;
    color: rgb(252, 239, 244);

}

.logo img {
    height: 40px;
    border-radius: 16px;
    border-style: groove;
    border-color: #e5dcee;
    background-color: #000000de;
    margin-right: 20px;
}

/*TODAS LAS PAGINAS*/
body {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: #f0e7f8;
    color: black;
    padding: 90px 20px 0;
}

/*INICIO*/

/* RECORDAR Legend esta en INDEX y CONTACTO*/
legend {
    margin-top: 25px;
    margin-bottom: 15px;
    font-weight: bold;
    color: black;
    font-size: 30px;
    border-color: #e5dcee;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-top: none;
}

/*titulo nuevos pructos*/
h2 {
    margin-top: 20px;
    font-size: 25px;
}

article {
    margin-top: 20px;
}

#yoda {
    height: 170px;
    width: 170px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20%;

    border-color: black;
    border-style: groove;
}

#lapicero {
    height: 170px;
    width: 170px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20%;
    border-color: black;
    border-style: groove;
}

#productos__flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

}



/*CONTACTO*/
.legendats {
    margin-top: 20px;
    font-size: 25px;
    text-align: center;
}

form {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: normal;
}

/*PRODUCTS Y SERVICS*/
/*IMAGENES PRODUCTS*/
.protesisymano img {
    height: 400px;
    width: 500px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 20%;
    border-color: rgb(8, 8, 8);
    border-style: groove;
}

/*SOBRE NOSOTROS*/
/*video*/
#video {
    height: 400px;
    width: 780px;
    border-radius: 1%;
    margin-top: 20PX;

}

.enlace:hover {
    background-color: rgb(97, 5, 188);
    color: rgb(231, 217, 248);
}

.enlace:active {
    background-color: rgb(168, 104, 251);
    color: rgb(50, 0, 110);
}

/*CALIDAD*/
.imgcalidad img {
    border-radius: 20%;
    border-color: black;
    border-style: groove;
    height: 400px;
    width: 400px
}

/*FOOTER*/
footer {
    background-color: #f1dfff;
    margin-top: 200px;
}

.whastapp img {
    display: flex;
    position: fixed;
    border-radius: 50%;
    bottom: 30px;
    right: 30px;
    width: 80px;
    height: 80px;

}

/* GRID sobre nosotros*/
.cont {
    display: grid;
    height: 450px;
    width: 450px;
    margin: 0 auto;
    margin-top: 20px;
    grid-template-areas:
        "imgU imgU"
        "imgD imgT";
    justify-content: center;
    align-content: center;
    border-color: black;
    border-style: groove;

}

.img1 {
    grid-area: imgU;

    height: 300px;
    width: 450px;
}

.img2 {
    grid-area: imgD;
    height: 150px;
    width: 225px;
}

.img3 {
    grid-area: imgT;
    height: 150px;
    width: 225px;
}

.cont img {
    height: 150px;
    width: 225px;
}

.img1 img {
    height: 300px;
    width: 450px;
}


/* MEDIA QUARIES GRID II-SOBRE NOSOTROS*/
.mediacontainer {
    display: grid;
    grid-template-columns: 2fr auto;
    grid-template-rows: auto 2fr auto;
    grid-template-areas:
        "nave "
        "cont"
        "footer";
}

.navUP {
    grid-area: nave;
}

.content {
    grid-area: cont;
}

#pie {
    grid-area: footer;
}

/* MEDIA QUARIES GRID para menor de 400px-mobile*/
@media only screen and (max-width: 400px) {
    .mediacontainer {
        height: auto;
        width: auto;
        display: grid;
        background-color: #f0e7f8;
        font-size: 12px;
        grid-template-areas:
            "nave cont "
            "nave cont"
            "nave footer";
        grid-template-columns: 0.5fr 1fr;
        grid-template-rows: 3fr 3fr 6%;
        padding: 0;
    }

    /*nav*/
    .logo img {
        margin-top: 20px;
        height: 35px;
        border-radius: 15px;
        border-style: groove;
        border-color: #e5dcee;
        background-color: #000000de;

    }
      .navUP {
        position: relative;
        width: auto;
        height: auto;
    }

    nav {
        margin-bottom: 0px;
    }

    nav ul li {
        margin-left: 0;
        margin-bottom: 20px;
        font-size: 15px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    ul {
        padding-left: 0em;
    }

    /*main sobre nosotros - indez*/
    legend {
        font-size: 15px;

    }

    h2 {
        font-size: 15px;
    }

    /*index imagen sin flex pero con boostrap*/
    #productos__flex {
        display: contents
    }

    /*foda*/
    .content #video {
        margin-top: 40px;
        margin-bottom: 40px;
        height: 155px;
        width: 200px;
    }

    /*grilla imagenes foda*/
    .cont {
        display: grid;
        height: 300px;
        width: 200px;
        margin-top: 50px;
        grid-template-areas:
            "imgU"
            "imgD"
            "imgT";
        justify-content: center;
        align-content: center;
        border-color: black;
        border-style: groove;
        gap: 2px;

    }

    .img1 {
        grid-area: imgU;

        height: 100px;
        width: 200px;
    }

    .img2 {
        grid-area: imgD;
        height: 100Px;
        width: 200px;
    }

    .img3 {
        grid-area: imgT;
        ;
        height: 100px;
        width: 200px;
    }

    .cont img {
        height: 100px;
        width: 200px
    }

    /*footer */
    .whastapp img {
        display: flex;
        position: fixed;
        border-radius: 50%;
        bottom: 30px;
        right: 30px;
        width: 40px;
        height: 40px;
    }

    footer {
        background-color: #f1dfff;
        margin-top: 10px;
    }

}