/*ESTRUCTURA GRID*/
/* GRID sobre nosotros*/
.cuadro {
    display: grid;
    height: 450px;
    width: 450px;
    margin: 0 auto;
    margin-bottom: 2%;
    margin-top: 20px;
    grid-template-areas:
        "imgU imgU"
        "imgD imgT";
    justify-content: center;
    align-content: center;
    border-color: black;
    border-style: groove;

}

.img1 {
    grid-area: imgU;

    height: 300px;
    width: 450px;
}

.img2 {
    grid-area: imgD;
    height: 150px;
    width: 225px;
}

.img3 {
    grid-area: imgT;
    height: 150px;
    width: 225px;
}

.cuadro img {
    height: 150px;
    width: 225px;
}

.img1 img {
    height: 300px;
    width: 450px;
}


/* MEDIA QUARIES GRID II-SOBRE NOSOTROS*/
.mediacontainer {
    display: grid;
    grid-template-columns: 2fr auto;
    grid-template-rows: auto 2fr auto;
    grid-template-areas:
        "nave "
        "cont"
        "footer";
}

.navUP {
    grid-area: nave;
}

.content {
    grid-area: cont;
}

#pie {
    grid-area: footer;
}

/* MEDIA QUARIES GRID para menor de 400px-mobile*/
@media only screen and (max-width: 400px) {
    .mediacontainer {
        height: auto;
        width: auto;
        display: grid;
        background-color: #f0e7f8;
        font-size: 12px;
        grid-template-areas:
            "nave "
            "cont"
            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 0 3fr 6%;
        padding: 0;
    }

    /*BEM EN LINKS*/

    .enlace:active {
        background-color: rgb(168, 104, 251);
        color: rgb(50, 0, 110);
    }

    /*nav*/
    .logo img {
        height: 35px;
        border-radius: 15px;
        background-color: #000000de;

    }

    header {
        .contenedor {
            display: flex;
            place-content: space-between;
        }

        a {
            padding: 0;
        }
    }

    .navUP {

        width: 30%;
        height: 100%;

    }

    nav {
        margin-bottom: 0px;
    }

    ul {
        @include flex-column;
        flex-wrap: wrap;
        align-content: space-between;
        margin-left: 0;
        font-size: 15px;
        margin-top: 60%;

        li {
            margin-bottom: 20%;
            border-bottom: #f0e7f8;
            border-style: groove;
            border-left: none;
            border-right: none;
            border-top: none;
            padding-left: 0em;
        }

    }

    #menu-check {
        display: none;

    }

    #menu {

        color: $color-principal;
        background-color: #ae95e9a1;
        font-size: 2em;
        border-style: solid;
        border-radius: 20%;
        border-color: $color-principal ;
        display: flex;
        position: fixed;
        left: 0.5em;
        top: 0.5em;
        z-index: 9999;

        &:hover {
            color: #cfcecfde;
            background-color: #ae95e9a1;
        }
    }

    #menu-check:not(:checked)~nav {
        display: none;
    }

    #menu-check:checked~nav {
        display: block;
    }

    #menu-cerrar {
        display: none;
    }

    #menu-check:checked~label #menu-abrir {
        display: none;
    }

    #menu-check:checked~label #menu-cerrar {
        display: block;
        font-size: 30px;
    }

    /*productos y servicios*/
    .productos3d {
        .slider {
            width: 100%;
            height: 100%;


            ul {
                margin: 0;
                flex-direction: row;
                flex-wrap: nowrap;

                li {
                    width: 100%;
                    height: 100%;
                    margin-bottom: 1%;
                    margin-top: 1%;
                    list-style: none;

                    img {
                        width: 80%;
                        height: 50vh;

                        &:not(#dember) {
                            margin-left: 25%;
                        }

                        &:not(#protesis) {
                            margin-right: 25%;
                        }
                    }
                }
            }
        }
    }

    /*main sobre nosotros - indez*/

    .content {
        legend {
            font-size: 20px;
        }

        p {
            font-size: 12px;
        }

        h2 {
            font-size: 15px;
        }
    }





    /*formulario-consulta*/
    form {
        margin: 0px;
        display: flex;
        justify-content: center;
        margin-bottom: 5%;

        fieldset {
            margin-left: 0px;
            width: 30px;
            height: 50%;

            input {
                margin: 15px;
                height: 20px;
            }
        }
    }

    .map {
        iframe {
            width: 80%;
            height: 5%;
        }
    }

    /*index imagen sin flex pero con boostrap*/
    section {
        #productos__flex {
            display: contents;
            justify-content: center;
            font-size: 10px;

            IMG {
                height: 30vh;
                width: 18em;

            }

            .card {
                color: black;
                padding: 0px;
                height: 60vh;
margin-left: 25%;
                margin-bottom: 3%;

                h3 {
                    font-size: 13px;
                    border-bottom: #171718;
                    border-style: dashed;
                    border-left: none;
                    border-top: none;
                    border-right: none;
                }
            }
        }
    }

    /*IMAGENES FODA*/
    .imgcalidad {
        img {
            width: 65%;
            height: 65%;
        }
    }

    /*foda*/
    .content {
        margin-left: 0%;
        margin-right: 0%;

        #video {
            margin-top: 40px;
            margin-bottom: 40px;
            height: 155px;
            width: 200px;
        }
    }

    /*grilla imagenes foda*/
    .cuadro {
        display: grid;
        height: 300px;
        width: 200px;
        margin-top: 50px;
        grid-template-areas:
            "imgU"
            "imgD"
            "imgT";
        justify-content: center;
        align-content: center;
        border-color: black;
        border-style: groove;
 img {
        height: 100px;
        width: 200px;
        border-radius: 0%;
    }
    }

    %imgfoda {
        height: 100px;
        width: 200px;
    }

    .img1 {
        @extend %imgfoda;
        grid-area: imgU;

    }

    .img2 {
        @extend %imgfoda;
        grid-area: imgD;

    }

    .img3 {
        @extend %imgfoda;
        grid-area: imgT;
    }

   

    /*footer */


    #pie {
        background-color: #171718;
        width: auto;
        height: max-content;
ul{margin-bottom: 0%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;

        li {
            margin-bottom: 0%;
            border: none;
            p {
                font-size: 8px;
            }
        }}

        .whastapp img {
            display: flex;
            position: fixed;
            border-radius: 50%;
            bottom: 10px;
            right: 10px;
            width: 15%;
            height: 8%;
        }
    }
}

/* MEDIA QUARIES GRID para mayor de 600px-tablet*/
@media only screen and (min-width: 600px) {
    .mediacontainer {
        display: grid;
        grid-template-columns: 2fr auto;
        grid-template-rows: auto 2fr auto;
        grid-template-areas:
            "nave "
            "cont"
            "footer";
    }

    /*productos y servicios*/
    .videoyt {
        #video {
            width: 100vh;
            height: 50vh;
        }
    }

    .productos3d {
        .slider {
            width: 100%;
            height: 50%;
            overflow: hidden;

            ul {
                display: flex;
                animation: cambio 10s infinite alternate linear;
                width: 400%;

                @keyframes cambio {
                    0% {
                        margin-left: 0;
                    }

                    20% {
                        margin-left: 0;
                    }


                    30% {
                        margin-left: -100%;
                    }

                    45% {
                        margin-left: -150%;
                    }

                    50% {
                        margin-left: -200%;
                    }

                    70% {
                        margin-left: -300%
                    }

                    75% {
                        margin-left: -300%;
                    }

                    100% {
                        margin-left: -300%;
                    }


                }


                li {
                    width: 100%;
                    height: 50%;
                    list-style: none;

                    img {
                        width: 60%;
                        height: 100vh;

                        &:not(#dember) {
                            margin-left: 25%;
                        }

                        &:not(#protesis) {
                            margin-right: 25%;
                        }
                    }
                }
            }
        }
    }
}