/*universal*/
* {
  margin: 0;
  padding: 0;
}

/*Estructura*/
/*NAV*/
nav {
  z-index: 1;
  padding: none;
  position: fixed;
  width: 100%;
  height: 8%;
  margin-bottom: 40px;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4941176471);
  opacity: 100%;
}
nav ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 0px;
}
nav ul li {
  list-style: none;
  display: flex;
  flex-direction: row;
}
nav ul li a {
  opacity: 100%;
  color: rgb(250, 240, 240);
  text-decoration: none;
  font-size: 20px;
}

.logo img {
  width: 100%;
  height: 8vh;
}

#menu {
  display: none;
}

#menu-check {
  display: none;
}

/*footer*/
footer {
  height: 40vh;
  width: 100%;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #000000;
  margin: 0vh;
}
footer ul {
  margin-top: 3%;
  margin-bottom: 2%;
  padding-left: 0px;
}
footer ul li {
  display: flex;
  margin-bottom: 0.5%;
}
footer ul li p {
  text-align: start;
  color: aliceblue;
  margin-top: 0;
  margin-bottom: 0;
}
footer ul li a {
  justify-content: flex-start;
}
footer ul li a img {
  align-self: flex-start;
  width: 10vh;
  height: auto;
}
footer #instagram img {
  width: 3vh;
  border-radius: 25%;
}
footer #gmail img {
  width: 3vh;
  border-radius: 25%;
}
footer .whastapp img {
  display: flex;
  position: fixed;
  border-radius: 50%;
  bottom: 30px;
  right: 30px;
  width: 80px;
  height: 80px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  color: rgb(240, 240, 240);
  text-shadow: 0px 3px 3px rgb(3, 3, 3);
  text-align: center;
  background-image: url(https://images.pexels.com/photos/9874642/pexels-photo-9874642.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  /*BEM-ENLACES*/
}
body main {
  margin: 0%;
  background-color: rgba(174, 149, 233, 0.631372549);
  /*TITULO*/
  /*subtitulos*/
  /*IMG*/
}
body main legend {
  margin-top: 7%;
  margin-bottom: 15px;
  font-weight: lighter;
  color: rgba(243, 228, 245, 0.966);
  font-size: 60px;
  border-color: rgba(240, 240, 248, 0.8078431373);
  border-style: solid;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom-width: 5px;
}
body main h2 {
  font-size: 30px;
  color: rgb(240, 240, 240);
  background-color: rgba(246, 225, 247, 0.4509803922);
}
body main img {
  height: 358px;
  width: 358px;
  border-radius: 10%;
}
body .enlace {
  color: rgb(248, 245, 245);
}
body .enlace:active {
  background-color: rgb(250, 137, 244);
  color: rgb(247, 213, 235);
}

/*SOBRE NOSOTROS*/
/*video*/
#video {
  height: 400px;
  width: 780px;
  border-radius: 1%;
  margin-top: 20PX;
}

/*index*/
/*INDEX-IMAGENES*/
#productos__flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
  text-align: center;
  font-size: 20px;
  color: black;
  text-shadow: none;
  margin-top: 50px;
  margin-bottom: 25px;
}
#productos__flex img {
  height: 358px;
  width: 358px;
  border-radius: 2%;
  transition: all 20ms;
}
#productos__flex h3 {
  border-bottom: #171718;
  border-style: dashed;
  border-left: none;
  border-top: none;
  border-right: none;
}
#productos__flex .card {
  margin-top: 2%;
  margin-bottom: 2%;
}
#productos__flex .card:hover {
  transform: scale(1.15);
}

/*productos y servicios*/
/*imagenes*/
section h2 {
  margin-top: 3%;
  margin-bottom: 3%;
}

.productos3d .slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.productos3d .slider ul {
  display: flex;
  animation: cambio 10s infinite alternate linear;
  width: 400%;
}
@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  30% {
    margin-left: -100%;
  }
  45% {
    margin-left: -150%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -300%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
.productos3d .slider ul li {
  width: 100%;
  height: 50%;
  list-style: none;
}
.productos3d .slider ul li img {
  width: 60%;
  height: 100vh;
}
.productos3d .slider ul li img:not(#dember) {
  margin-left: 25%;
}
.productos3d .slider ul li img:not(#protesis) {
  margin-right: 25%;
}

/*sobren nosotros*/
.cuadro img {
  border-radius: 0%;
}

/*calidad*/
.content .imgcalidad {
  margin-top: 5%;
  margin-bottom: 5%;
}
.content .imgcalidad img {
  border-color: rgb(250, 202, 250);
  border-style: solid;
  transition: all 300ms;
}
.content .imgcalidad img:hover {
  transform: scale(1.15);
}

/*Contacto*/
.contact {
  margin-bottom: 2%;
}

.map {
  margin-top: 2%;
  margin-bottom: 2%;
}
.map iframe {
  margin-top: 2%;
}

form fieldset input {
  height: 30px;
}
form fieldset label {
  border-bottom: 10%;
  border-color: black;
  border-style: double;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}
form fieldset div {
  font-size: 15px;
}

/*responsive*/
/*ESTRUCTURA GRID*/
/* GRID sobre nosotros*/
.cuadro {
  display: grid;
  height: 450px;
  width: 450px;
  margin: 0 auto;
  margin-bottom: 2%;
  margin-top: 20px;
  grid-template-areas: "imgU imgU" "imgD imgT";
  justify-content: center;
  align-content: center;
  border-color: black;
  border-style: groove;
}

.img1 {
  grid-area: imgU;
  height: 300px;
  width: 450px;
}

.img2 {
  grid-area: imgD;
  height: 150px;
  width: 225px;
}

.img3 {
  grid-area: imgT;
  height: 150px;
  width: 225px;
}

.cuadro img {
  height: 150px;
  width: 225px;
}

.img1 img {
  height: 300px;
  width: 450px;
}

/* MEDIA QUARIES GRID II-SOBRE NOSOTROS*/
.mediacontainer {
  display: grid;
  grid-template-columns: 2fr auto;
  grid-template-rows: auto 2fr auto;
  grid-template-areas: "nave " "cont" "footer";
}

.navUP {
  grid-area: nave;
}

.content {
  grid-area: cont;
}

#pie {
  grid-area: footer;
}

/* MEDIA QUARIES GRID para menor de 400px-mobile*/
@media only screen and (max-width: 400px) {
  .mediacontainer {
    height: auto;
    width: auto;
    display: grid;
    background-color: #f0e7f8;
    font-size: 12px;
    grid-template-areas: "nave " "cont" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 0 3fr 6%;
    padding: 0;
  }
  /*BEM EN LINKS*/
  .enlace:active {
    background-color: rgb(168, 104, 251);
    color: rgb(50, 0, 110);
  }
  /*nav*/
  .logo img {
    height: 35px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.8705882353);
  }
  header .contenedor {
    display: flex;
    place-content: space-between;
  }
  header a {
    padding: 0;
  }
  .navUP {
    width: 30%;
    height: 100%;
  }
  nav {
    margin-bottom: 0px;
  }
  ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    margin-left: 0;
    font-size: 15px;
    margin-top: 60%;
  }
  ul li {
    margin-bottom: 20%;
    border-bottom: #f0e7f8;
    border-style: groove;
    border-left: none;
    border-right: none;
    border-top: none;
    padding-left: 0em;
  }
  #menu-check {
    display: none;
  }
  #menu {
    color: rgb(240, 240, 240);
    background-color: rgba(174, 149, 233, 0.631372549);
    font-size: 2em;
    border-style: solid;
    border-radius: 20%;
    border-color: rgb(240, 240, 240);
    display: flex;
    position: fixed;
    left: 0.5em;
    top: 0.5em;
    z-index: 9999;
  }
  #menu:hover {
    color: rgba(207, 206, 207, 0.8705882353);
    background-color: rgba(174, 149, 233, 0.631372549);
  }
  #menu-check:not(:checked) ~ nav {
    display: none;
  }
  #menu-check:checked ~ nav {
    display: block;
  }
  #menu-cerrar {
    display: none;
  }
  #menu-check:checked ~ label #menu-abrir {
    display: none;
  }
  #menu-check:checked ~ label #menu-cerrar {
    display: block;
    font-size: 30px;
  }
  /*productos y servicios*/
  .productos3d .slider {
    width: 100%;
    height: 100%;
  }
  .productos3d .slider ul {
    margin: 0;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .productos3d .slider ul li {
    width: 100%;
    height: 100%;
    margin-bottom: 1%;
    margin-top: 1%;
    list-style: none;
  }
  .productos3d .slider ul li img {
    width: 80%;
    height: 50vh;
  }
  .productos3d .slider ul li img:not(#dember) {
    margin-left: 25%;
  }
  .productos3d .slider ul li img:not(#protesis) {
    margin-right: 25%;
  }
  /*main sobre nosotros - indez*/
  .content legend {
    font-size: 20px;
  }
  .content p {
    font-size: 12px;
  }
  .content h2 {
    font-size: 15px;
  }
  /*formulario-consulta*/
  form {
    margin: 0px;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
  }
  form fieldset {
    margin-left: 0px;
    width: 30px;
    height: 50%;
    display: flex;
    flex-direction: column;
  }
  form fieldset input {
    margin: 15px;
    height: 20px;
  }
  form fieldset label {
    font-size: 15px;
  }
  form fieldset div {
    font-size: 12px;
    margin-top: 3%;
  }
  .map iframe {
    width: 80%;
    height: 5%;
  }
  /*index imagen sin flex pero con boostrap*/
  section #productos__flex {
    display: contents;
    justify-content: center;
    font-size: 10px;
  }
  section #productos__flex IMG {
    height: 30vh;
    width: 18em;
  }
  section #productos__flex .card {
    color: black;
    padding: 0px;
    height: 60vh;
    margin-left: 25%;
    margin-bottom: 3%;
  }
  section #productos__flex .card h3 {
    font-size: 13px;
    border-bottom: #171718;
    border-style: dashed;
    border-left: none;
    border-top: none;
    border-right: none;
  }
  /*IMAGENES FODA*/
  .imgcalidad img {
    width: 65%;
    height: 65%;
  }
  /*foda*/
  .content {
    margin-left: 0%;
    margin-right: 0%;
  }
  .content #video {
    margin-top: 40px;
    margin-bottom: 40px;
    height: 200px;
    width: 300px;
  }
  /*grilla imagenes foda*/
  .cuadro {
    display: grid;
    height: 300px;
    width: 200px;
    margin-top: 50px;
    grid-template-areas: "imgU" "imgD" "imgT";
    justify-content: center;
    align-content: center;
    border-color: black;
    border-style: groove;
  }
  .cuadro img {
    height: 100px;
    width: 200px;
    border-radius: 0%;
  }
  .img3, .img2, .img1 {
    height: 100px;
    width: 200px;
  }
  .img1 {
    grid-area: imgU;
  }
  .img2 {
    grid-area: imgD;
  }
  .img3 {
    grid-area: imgT;
  }
  /*footer */
  #pie {
    background-color: #171718;
    width: auto;
    height: max-content;
  }
  #pie ul {
    margin-bottom: 0%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  #pie ul li {
    margin-bottom: 0%;
    border: none;
    font-size: 12px;
  }
  #pie .whastapp img {
    display: flex;
    position: fixed;
    border-radius: 50%;
    bottom: 10px;
    right: 10px;
    width: 15%;
    height: 8%;
  }
}
/* MEDIA QUARIES GRID para mayor de 600px-tablet*/
@media (min-width: 700px) and (orientation: landscape) {
  .mediacontainer {
    display: grid;
    grid-template-columns: 2fr auto;
    grid-template-rows: auto 2fr auto;
    grid-template-areas: "nave " "cont" "footer";
  }
  /*productos y servicios*/
  .videoyt #video {
    width: 100vh;
    height: 50vh;
  }
  .productos3d .slider {
    width: 100%;
    height: 50%;
    overflow: hidden;
  }
  .productos3d .slider ul {
    display: flex;
    animation: cambio 10s infinite alternate linear;
    width: 400%;
  }
  @keyframes cambio {
    0% {
      margin-left: 0;
    }
    20% {
      margin-left: 0;
    }
    30% {
      margin-left: -100%;
    }
    45% {
      margin-left: -150%;
    }
    50% {
      margin-left: -200%;
    }
    70% {
      margin-left: -300%;
    }
    75% {
      margin-left: -300%;
    }
    100% {
      margin-left: -300%;
    }
  }
  .productos3d .slider ul li {
    width: 100%;
    height: 50%;
    list-style: none;
  }
  .productos3d .slider ul li img {
    width: 60%;
    height: 100vh;
  }
  .productos3d .slider ul li img:not(#dember) {
    margin-left: 25%;
  }
  .productos3d .slider ul li img:not(#protesis) {
    margin-right: 25%;
  }
  footer {
    height: max-content;
  }
  ul li {
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=style.css.map */
