.contact{
    margin-bottom: 2%;
}
.map{
    margin-top: 2%;
    margin-bottom: 2%;
    iframe{
        margin-top: 2%;
    }
}form{
fieldset{
    input{
        height:30px;
    }
    label{
        border-bottom: 10%;
        border-color: black;
        border-style: double;
        border-left: 0;
        border-right: 0;
        border-top: 0;
    }
    div{
        
    font-size: 15px;
    }
}
}