/*INDEX-IMAGENES*/
#productos__flex {
   @include  flex-row;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    color: black;
   text-shadow: none;
    margin-bottom: 5vh;
img{
    height: 358px;
    width: 358px;
border-radius: 0%;}
    h3{
        border-bottom: #171718;
        border-style: dashed;
        border-left: none;
        border-top: none;
    border-right: none;
    }
}