/*footer*/
footer {
    height: 40vh;
    width: 100%;
    font-size: 20px;
    @include flex-column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #000000;
    margin: 0vh;

    ul {
        margin-top: 3%;
        margin-bottom: 2%;
        padding-left: 0px;

        li {
            display: flex;
            margin-bottom: 0.5%;
 p {
                        text-align: start;
                        color: aliceblue;
                        margin-top: 0;
                        margin-bottom: 0;

                    }
            a {
                justify-content: flex-start;

                img {
                    align-self: flex-start;
                    width: 10vh;
                    height: auto;

                   
                }
            }
        }
    }

    #instagram img {
        width: 3vh;
        border-radius: 25%;

    }

    #gmail img {
        width: 3vh;
        border-radius: 25%;
    }

    .whastapp img {
        display: flex;
        position: fixed;
        border-radius: 50%;
        bottom: 30px;
        right: 30px;
        width: 80px;
        height: 80px;
    }
}